body{
    background-color: antiquewhite;

    font-size: 14px;
}
.content{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    position: fixed;
    max-width: 65%;
    padding: 4px;

}
.content h1{
    text-align: center;
    color: midnightblue;
}
.sidebar{
    position: relative;
    float: right;
    max-width: 30%;
    border: solid 4px midnightblue;
    padding: 4px;
    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
    }
.sidebar h2{
    text-align: center;
    color: midnightblue;
}
.tags{
    font-size: .5em;
}
.tags a{
    text-decoration: none;
}